.container {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Times", "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 8vw;
  letter-spacing: 1px;
  padding-top: 15px;
}

.subtitle {
  font-family: "Times", "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 3.1vw;
  word-spacing: 5px;
  padding: 15px;
}

.avatar {
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
}

@media all and (min-width: 57em) {
}

@media all and (max-width: 57em) {
  .title {
    font-size: 12vw;
  }

  .subtitle {
    font-size: 5vw;
  }
}
