# dependencies
node_modules

# logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional yarn data
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Nuxt build
.nuxt
nuxt-dist

# Nuxt generate
dist

# Optional eslint cache
.eslintcache

.DS_Store
lib
