.container {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Times", "Georgia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 8vw;
  letter-spacing: 1px;
  padding-top: 15px;
}

p .text {
  padding: 15px;
}

@media all and (min-width: 57em) {
}

@media all and (max-width: 57em) {
  .text {
    font-size: 5vw;
  }
}
